[submodule "citeproc-py"]
	path = citeproc-py
	url = https://github.com/brechtm/citeproc-py.git
[submodule "doc/_build/html"]
	path = doc/_build/html
	url = git@github.com:brechtm/rinohtype.git
	branch = gh-pages
