*.pyc
*~
*.rtc
/.python-version
/.cache
/.pytest_cache
/.idea
/.eggs
/.tox
/.coverage
/coverage.xml
/build
/dist
/pynsist_pkgs
/macapp/macOS
/src/rinohtype.egg-info
/MANIFEST
.venv*
*.log
35/
36/
37/
38/

