graft doc
prune doc/style
prune doc/.eggs
prune doc/_build
graft src
graft tests
graft tests_regression
prune tests_regression/sphinx
include tests_regression/sphinx/AUTHORS
include tests_regression/sphinx/CHANGES
include tests_regression/sphinx/EXAMPLES
graft tests_regression/sphinx/doc
graft macapp
prune macapp/macOS

recursive-include examples *.md *.py *.rtt *.txt *.xml *.jpg *.png

include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include .bumpversion.cfg
include .coveragerc
include .travis.yml
include appveyor.yml
include coverage.py
include Dockerfile
include gitlabpypi.py
include macapp.py
include rinoh.ico
include run_tests.sh
include tox.ini
include wininst.py
include wininst.cfg

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
