[tool.poetry]
name = "rinohtype"
version = "0.4.3.dev"
description = "The Python document processor"
authors = ["Brecht Machiels <brecht@mos6581.org>"]
license = "AGPL-3.0-only"

[tool.poetry.dependencies]
python = "^3.5"
docutils = "^0.16"
recommonmark = "^0.6.0"
rinoh-typeface-texgyrecursor = "^0.1.1"
rinoh-typeface-texgyreheros = "^0.1.1"
rinoh-typeface-texgyrepagella = "^0.1.1"
rinoh-typeface-dejavuserif = "^0.1.1"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.0"
restview = "^2.9.2"
tox = "^3.15.2"
twine = "^1.15.0"
wheel = "^0.34.2"
pytest = "^5.4.3"
pytest-assume = "^2.2.1"
pytest-console-scripts = "^0.2.0"
