name: Test & Publish

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  current_python: '3.9'
jobs:
  check:
    name: ${{ matrix.os }} / ${{ matrix.python-version }} ${{ matrix.env.TOXENV }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [Ubuntu]
        python-version: [3.9]
        env:
          - TOXENV: check
          - TOXENV: check-docs
          - TOXENV: build-docs
    env: ${{ matrix.env}}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Python ${{ env.current_python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.current_python }}
    - name: Install tox & co
      run: |
        pip${{ env.current_python }} install --requirement .github/workflows/requirements.txt

    - name: Cache docs references cache
      if: env.TOXENV == 'build-docs'
      uses: actions/cache@v2
      with:
        path: doc/_build/rinoh/rinohtype.rtc
        key: ${{ env.TOXENV }}-references-${{ hashFiles('doc/_build/rinoh/rinohtype.rtc') }}
        restore-keys: |
          ${{ env.TOXENV }}-references-

    - name: Run tox
      run: tox -v

    - name: Determine directory to publish docs to
      id: docs-publish-dir
      if: env.TOXENV == 'build-docs'
      uses: jannekem/run-python-script-action@v1
      with:
        script: |
          import os, re
          github_ref = os.environ.get('GITHUB_REF')
          if github_ref == 'refs/heads/master':
              target = 'master'
          elif github_ref.startswith('refs/tags/'):
              m = re.match(r'^refs/tags/v([0-9]+\.[0-9]+\.[0-9]+)$', github_ref)
              target = m.group(1)
          else:
              target = ''
          print(f'::set-output name=target::{target}')
    - name: Publish docs to GitHub pages
      if: env.TOXENV == 'build-docs' && steps.docs-publish-dir.outputs.target != ''
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: doc/_build/html
        destination_dir: ${{ steps.docs-publish-dir.outputs.target }}
        keep_files: false

  test:
    name: ${{ matrix.os }} / ${{ matrix.python-version }} unit tests (${{ matrix.env.DIST }})
    strategy:
      fail-fast: false
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: [3.6, 3.7, 3.8, 3.9, 3.10.0-alpha - 3.10, pypy-3.6, pypy-3.7]
        env:
          - DIST: sdist
            WITH_COVERAGE: 1
          - DIST: wheel
            WITH_COVERAGE: 0
    runs-on: ${{ matrix.os }}-latest
    env: ${{ matrix.env}}
    steps:
    - uses: actions/checkout@v2
    - name: Install Python ${{ env.current_python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.current_python }}
    - name: Install tox & co
      run: |
        pip${{ env.current_python }} install --requirement .github/workflows/requirements.txt
    - name: Install Python ${{ matrix.python-version }}
      if: matrix.python-version != env.current_python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set TOXENV based on Python ${{ matrix.python-version }}
      run: python .github/workflows/toxenv.py "${{ matrix.python-version }}"

    - name: Create wheel
      if: env.DIST == 'wheel'
      run: poetry build --format wheel
    - name: Find path to wheel
      if: env.DIST == 'wheel'
      uses: jannekem/run-python-script-action@v1
      with:
        script: |
          import os
          from pathlib import Path
          wheel_path = str(next(Path('dist').glob('*.whl')))
          with open(os.getenv('GITHUB_ENV'), 'a') as env:
              print(f'INSTALLPKG=--installpkg {wheel_path}', file=env)
    - name: Run tox
      continue-on-error: ${{ startsWith(runner.os, 'Windows') && startsWith(matrix.python-version, 'pypy') }}
      run: tox -v ${{ env.INSTALLPKG }} -- -s

    - name: Upload coverage statistics to codecov.io
      if: env.WITH_COVERAGE == 1
      shell: bash
      run: |
        bash <(curl -s https://codecov.io/bash) -f coverage.xml -F unittests,${{ matrix.python-version }},${{ runner.os }}

  regression:
    name: ${{ matrix.os }} / ${{ matrix.python-version }} regression tests (${{ matrix.dist }})
    strategy:
      fail-fast: false
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: [3.9]
        dist: [wheel]
        include:
          - { os: Ubuntu, dist: wheel, python-version: 3.6 }
          - { os: Ubuntu, dist: wheel, python-version: 3.7 }
          - { os: Ubuntu, dist: wheel, python-version: 3.8 }
          - { os: Ubuntu, dist: wheel, python-version: pypy-3.6 }
          - { os: Ubuntu, dist: wheel, python-version: pypy-3.7 }
          - { os: Ubuntu, dist: sdist, python-version: 3.9 }
    runs-on: ${{ matrix.os }}-latest
    env:
      TOXENV: regression
      DIST: ${{ matrix.dist }}
      WITH_COVERAGE: 1
      MUPDF_VERSION: 1.18.0
      IMAGEMAGICK_VERSION: 7.0.10.29
    steps:
    - uses: actions/checkout@v2
    - name: Install Python ${{ env.current_python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.current_python }}
    - name: Install tox & co
      run: |
        pip${{ env.current_python }} install --requirement .github/workflows/requirements.txt
    - name: Install Python ${{ matrix.python-version }}
      if: matrix.python-version != env.current_python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Adjust TOXENV to use Python ${{ matrix.python-version }}
      run: python .github/workflows/toxenv.py "${{ matrix.python-version }}"

    - name: Get Homebrew cache dir (macOS)
      id: cache-dirs-macos
      if: startsWith(runner.os, 'macOS')
      run: |
        echo "::set-output name=dir::$(brew --cache)"
    - name: Delete Homebrew cache dir to minimize cache size (macOS)
      if: startsWith(runner.os, 'macOS')
      run: |
        rm -vrf "$(brew --cache)"
    - name: Get Homebrew package versions (macOS)
      id: homebrew-versions
      if: startsWith(runner.os, 'macOS')
      run: |
        echo "::set-output name=mupdftools::$(brew info --json mupdf-tools | jq -r '.[0].versions.stable')"
        echo "::set-output name=imagemagick::$(brew info --json imagemagick | jq -r '.[0].versions.stable')"
    - name: Cache Homebrew downloads
      if: startsWith(runner.os, 'macOS')
      uses: actions/cache@v2
      with:
        path: ${{ steps.cache-dirs-macos.outputs.dir }}
        key: ${{ runner.os }}-homebrew-mupdftools${{ steps.homebrew-versions.outputs.mupdftools }}-im${{ steps.homebrew-versions.outputs.imagemagick }}

    - name: Get Chocolatey cache dir (Windows)
      id: cache-dirs-windows
      if: startsWith(runner.os, 'Windows')
      run: |
        echo "::set-output name=dir::$(echo $env:TEMP\chocolatey)"
    - name: Delete Chocolatey cache dir to minimize cache size (Windows)
      if: startsWith(runner.os, 'Windows')
      run: |
        Remove-Item ${{ steps.cache-dirs-windows.outputs.dir }} -Verbose -Recurse -Force -ErrorAction Continue
    - name: Cache Cholocatey downloads
      if: startsWith(runner.os, 'Windows')
      uses: actions/cache@v2
      with:
        path: ${{ steps.cache-dirs-windows.outputs.dir }}
        key: ${{ runner.os }}-chocolatey-mupdf${{ env.MUPDF_VERSION}}-im${{ env.IMAGEMAGICK_VERSION }}

    - name: Install development dependencies
      run: |
        poetry install -vv --no-root
    - name: Install tools required by the regression tests (Linux)
      if: startsWith(runner.os, 'Linux')
      run: |
        sudo apt-get install mupdf-tools imagemagick
    - name: Install tools required by the regression tests (macOS)
      if: startsWith(runner.os, 'macOS')
      run: |
        brew install mupdf-tools imagemagick
    - name: Install tools required by the regression tests (Windows)
      if: startsWith(runner.os, 'Windows')
      run: |
        choco install mupdf --version=${{ env.MUPDF_VERSION}}
        choco install imagemagick.tool --version=${{ env.IMAGEMAGICK_VERSION }}

    - name: Create wheel
      if: env.DIST == 'wheel'
      run: poetry build --format wheel
    - name: Find path to wheel
      if: env.DIST == 'wheel'
      uses: jannekem/run-python-script-action@v1
      with:
        script: |
          import os
          from pathlib import Path
          wheel_path = str(next(Path('dist').glob('*.whl')))
          with open(os.getenv('GITHUB_ENV'), 'a') as env:
              print(f'INSTALLPKG=--installpkg {wheel_path}', file=env)
    - name: Run tox
      run: tox -v ${{ env.INSTALLPKG }} -- -s

    - name: Upload coverage statistics to codecov.io
      if: env.WITH_COVERAGE == 1
      shell: bash
      run: |
        bash <(curl -s https://codecov.io/bash) -f coverage.xml -F ${{ env.TOXENV }},${{ matrix.python-version }},${{ runner.os }}

  check-tag:
    needs: [check, test, regression]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get tag
      uses: olegtarasov/get-tag@v2.1
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Poetry
      uses: Gr1N/setup-poetry@v4
      with:
        poetry-version: ${{ env.poetry_version }}
    - name: Get package version from Poetry
      run: echo "PKG_VERSION=$(poetry version --short)" >> $GITHUB_ENV
    - name: Check whether the tag matches the package version
      run: python -c "import os, sys;
                      tag_version = os.getenv('GIT_TAG_NAME');
                      pkg_version = os.getenv('PKG_VERSION');
                      exit(0 if (tag_version == 'v' + pkg_version) else 1)"

    - name: Check whether the tag matches a stable version
      id: check-stable
      uses: jannekem/run-python-script-action@v1
      with:
        script: |
          import os, re
          tag = os.environ.get('GIT_TAG_NAME')
          match = re.match(r'^v[0-9]+\.[0-9]+\.[0-9]+$', tag)
          output = 'true' if match else 'false'
          print(f'::set-output name=stable::{output}')
    - name: Check whether the tag matches a development version
      id: check-develop
      uses: jannekem/run-python-script-action@v1
      with:
        script: |
          import os, re
          tag = os.environ.get('GIT_TAG_NAME')
          match = re.match(r'^v[0-9]+\.[0-9]+\.[0-9]+-dev\.[0-9]+$', tag)
          output = 'true' if match else 'false'
          print(f'::set-output name=develop::{output}')

    - name: Print outputs
      run: |
        echo "stable: ${{ steps.check-stable.outputs.stable }}"
        echo "develop: ${{ steps.check-develop.outputs.develop }}"
    outputs:
      stable: ${{ steps.check-stable.outputs.stable }}
      develop: ${{ steps.check-develop.outputs.develop }}

  publish-develop:
    needs: check-tag
    if: needs.check-tag.outputs.develop == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Poetry
      uses: Gr1N/setup-poetry@v4
      with:
        poetry-version: ${{ env.poetry_version }}

    - name: Build the wheel
      run: poetry build --format wheel
    - name: Publish the wheel as a prerelease on GitHub
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/rinohtype-*.whl"
        token: ${{ secrets.GITHUB_TOKEN }}
        prerelease: true

  publish-release:
    needs: check-tag
    if: needs.check-tag.outputs.stable == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Poetry
      uses: Gr1N/setup-poetry@v4
      with:
        poetry-version: ${{ env.poetry_version }}

    - name: Publish to PyPI
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        TESTPYPI_TOKEN: ${{ secrets.TESTPYPI_TOKEN }}
      run: |
        poetry config repositories.testpypi https://test.pypi.org/legacy/
        poetry publish --build --repository testpypi --username __token__ --password "$TESTPYPI_TOKEN"
